html {
    border: none;
}

/*------------- Styling the header -----------*/

.header {
    background-color: #4F4F4F;
    background-position: center;
    text-align: center;
    background-size: cover;
    color: #fafafa;
    margin:0;
    padding-bottom: 10px;
    padding-top: 10px;

}


.button {
    color: white;
}


.navbar-dark .navbar-brand {
    color: 	#ffb6c1;

}

.dropdown-menu {
    background-color: #4F4F4F;
}

.dropdown-item {
    color: #b9bec3;
}


a {
    color:#fafafa;
    margin-left: 5px;
}

.section1 {
    background-size: cover;
    text-align: center;
    background-image: url(Assets/pictures/bamboo-boat-clouds-cloudscape-2132098.jpg);
    background-repeat: no-repeat;
    min-height: 420px;
    color: black;
    padding: 0px;
    background-position-y: bottom;
    background-position-x: center;
    background-color: darkgray;
}

.intro {
    background-color:#ffb6c1;
    padding: 10px 5px;
    color: gray;
}

.intro1 {
    background-color: #ffb6c1;
    padding: 10px 5px;
    color: gray;
    margin-bottom: 0px;
}

.welcome {
    padding:20px 20px;
}

h2 {
    color: gray;
    text-align: center;
    padding-bottom:20px;
    padding-top: 20px;
}

h3{
    color: ;
    text-align: center;
    padding-bottom:20px;
    padding-top: 20px;
}

h5 {
    color: #ffb6c1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}


li {
    list-style: none;tours
}

img.quote {
    border-style: solid;
    border-color: gray;
    float: right;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
}
    
.tours {
    color:darkgray;
    text-align:center;
    margin-bottom:30px;
}

.tours1 {
    margin: 20px; 10px
}
.section3 {
    background-size: cover;
    text-align: center;
    color: black;
}


.about_us {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.contacts {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.compact {
    margin: 0;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .2rem .5rem;
    font-size: 1rem;
    line-height: 1.5;
}    
.man {
    background-image: url(Assets/pictures/hanoi-man-market-1004123.jpg);

}
.right_align{
    text-align:right;
}
.btn-success1 {
    color: #fff;
    background-color: #ffaeb9;
    border-color: gray;
    border-width: thick;
}

.btn-success2 {
    color: black;
    background-color: yellow;
    border-color: yellow;
    border-width: thick;
}

.towel {
 text-align:center;  
 padding-left:15px;
 padding-right:15px;
 background-color: yellow;
 display: unset;
}

div.container4 {
    height: 1em;
    position: relative;
    
}
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display:unset;
    padding: 5px 10px;
    
}

* {
  box-sizing: border-box;
}

div.box {
  float: left;
  width: 50%;
  padding: 20px;
}

div.center {
    text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  padding: 20px;
}

.internary16 {
    text-align: left;
    margin: 10px 20px;
    padding: 10px;
    align-content: center;
    text-align: justify;
}

.right {
    height:200px;
    word-break: break-word;
    float:right;
    margin: 5px;
}

.left {
    height:200px;
    word-break: break-word;
    float:left;
    margin: 5px;
}

.woman {
    float: right;
}


article {
    margin: 5px;
}

img.iten_right {
    border-radius: 20px;
    padding: 5px;
    width: 300px;
    margin-left: 10px;
}

img.iten_left {
    border-radius: 20px;
    padding: 5px;
    width: 300px;
    margin-right: 10px;
}

img.map_right {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 220px;
    margin:20px 10px;
}

.info_left {
    border: 3px solid #ddd;
    border-radius: 4px;
    width: 220px;
    margin-right:10px;
}

.info_right {
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 220px;
    margin-left:10px;
}

banner2 {
    display: inline-block;
}

.gallery1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top:0px;
    margin: 0px;
}

.section2 {
    background-size: cover;
    text-align: center;
    background-image: url(Assets/pictures/chaly-pavement-road-2044867.jpg);
    background-repeat: no-repeat;
    min-height: 380px;
    color: black;
    padding: 0px;
    background-position-y: bottom;
    background-position-x: center;
}

.section4 {
    background-size: cover;
    text-align: center;
    background-image: url(Assets/pictures/vietnam-2139871_1920_a.jpg);
    background-repeat: no-repeat;
    min-height: 380px;
    color: black;
    padding: 0px;
    background-position-y: bottom;
    background-position-x: center;
}

.section5 {
    background-size: cover;
    text-align: center;
    background-image: url(Assets/pictures/IMG-20190712-WA0006_a.jpg);
    background-repeat: no-repeat;
    min-height: 380px;
    color: black;
    padding: 0px;
    background-position-y: bottom;
    background-position-x: center;
}

.dest {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: justify;
}

.info {
    margin-top:20px;
}
.desth {
    margin-left: 20px;
    margin-right: 20px;
    text-align:justify;
}

.ready {
    background-clip: white;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-container-new {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 25% 25% 25%; /*Make the grid smaller than the container*/
  grid-gap: 5px;
  padding: 10px;
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 80% 20%; /*Make the grid smaller than the container*/
  grid-gap: 5px;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-top:5px;
    margin: 30px 5px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.pink {
    color: #ffaeb9;
}

img {
    -ms-interpolation-mode: bicubic;
}

.bicubic {
            -ms-interpolation-mode: bicubic;
            image-rendering: optimizeQuality;
}            
.gallery2 {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 2px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin: 0px;
}

.gallery__items--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery3 {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 2px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin: 0px;
}

.gallery__itemy--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

figure {
    margin: 3px;
}

.people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top:5px;
}

.people__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header5 {
    color: #ffb6c1;
    text-decoration: underline;
}

footer.site {
    background-color: #212529;
    color: #ffb6c1;
    background-size: cover;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bottom {
    margin-bottom: 0;
}

/* media queries */

@media (max-width:767px) {
    body{
    font-size: smaller;
    }
    p {
    font-size: smaller;
    }
    .welcome {
    padding:5px 5px;
    }
    .review{
    padding:5px 5px;
    margin-bottom:5px;
    font-size:smaller;
    }
    h1, h2, h3, h4, h5, h6{
    font-size:smaller;
    }

    em {
    font-size: x-small;
    }

    img.map_right {
    width: 130px;
    margin-left: 5px;
    }
    
    img.iten_left{
    width: 130px;
    border-radius: 20px;
    }
    
    img.iten_right{
    width: 130px;
    border-radius: 20px;
    }
    .info_left {
    width: 120px;
    }
    .info_right {
    width: 120px;
    }

        
    .dest {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    }    
    .section2 {
    background-size: cover;
    text-align: center;
    background-image: url(Assets/pictures/chaly-pavement-road-2044867.jpg);
    background-repeat: no-repeat;
    min-height: 180px;
    color: black;
    padding: 0px;
    background-position-y: bottom;
    background-position-x: center;
    }
    .section1 {
    background-size: cover;
    text-align: center;
    background-image: url(Assets/pictures/bamboo-boat-clouds-cloudscape-2132098.jpg);
    background-repeat: no-repeat;
    min-height: 180px;
    color: black;
    padding: 0px;
    background-position-y: bottom;
    background-position-x: center;
    background-color: darkgray;
    }
    .section5 {
    background-size: cover;
    text-align: center;
    background-image: url(Assets/pictures/IMG-20190712-WA0006_a.jpg);
    background-repeat: no-repeat;
    min-height: 180px;
    color: black;
    padding: 0px;
    background-position-y: bottom;
    background-position-x: center;
    }
    .section4 {
    background-size: cover;
    text-align: center;
    background-image: url(Assets/pictures/vietnam-2139871_1920_a.jpg);
    background-repeat: no-repeat;
    min-height: 180px;
    color: black;
    padding: 0px;
    background-position-y: bottom;
    background-position-x: center;
    }
}
    
@media (min-width: 768px) and (max-width: 991px) {
}
    .review {
    text-align:center;
    padding:20px 10px;
    margin-bottom:40px;
    display:flex;
    }
}

@media (min-width: 992px) and (max-width: 1800px) {
    .review{
    text-align:center;
    padding:20px 10px;
    margin-bottom:40px;
    margin-left: 20px;
    margin-right: 20px;
    display:inline-flex;
    }
}