html {
	border: none;
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	margin: 0;
}

a {
	color: #fafafa;
	margin-left: 5px;
}

article {
	margin: 5px;
}

h2 {
	color: gray;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

h3 {
	color: #ffb6c1;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

h4 {
	color: gray;
	font-size: inherit;
}

h5 {
	color: #ffb6c1;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	text-decoration: underline;
}

H6 {
	color: #ffb6c1;
	font-weight: 900;
}

li {
	list-style: none;
}

dl,
ol,
ul {
	margin-bottom: 1rem;
	margin-top: 0;
	padding: 0;
}


/* Styling the header */

.button {
	color: white;
}

.navbar-dark .navbar-brand {
	color: #ffb6c1;
}

.dropdown-menu {
	background-color: #4F4F4F;
}

.dropdown-item {
	color: #b9bec3;
}


/* Styling button */

.btn-group-lg>.btn,
.btn-lg {
	font-size: 1rem;
	line-height: 1.5;
	padding: .2rem .5rem;
}

.btn-success1 {
	background-color: #ffaeb9;
	border-color: gray;
	border-width: thin;
	color: #fff;
}

.btn-success2 {
	background-color: yellow;
	border-color: yellow;
	border-width: thin;
	color: black;
}

input:required,
textarea:required {
	border-color: red !important;
}


/*Styling Image galleries */

img {
	-ms-interpolation-mode: bicubic;
}

.bicubic {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}

.gallery__img {
	border-radius: 5px;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.gallery {
	display: grid;
	display: -ms-flexbox;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	margin: 30px 5px;
	padding-top: 5px;
}

.gallery1 {
	display: grid;
	display: -ms-flexbox;
	grid-template-columns: repeat(3, 1fr);
	margin: 0px 0px 30px 0px;
	padding-top: 0px;
}

.gallery2 {
	display: grid;
	display: -ms-grid;
	grid-gap: 2px;
	grid-template-columns: repeat(2, 3fr);
	margin: 0px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-top: 20px;
}

.gallery__items--3 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.gallery__itemy--3 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.gallery3 {
	display: grid;
	display: -ms-grid;
	grid-template-columns: repeat(2, 3fr);
	grid-gap: 2px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-top: 20px;
	margin: 0px;
}

figure {
	margin: 3px;
}


/* Styling Index.html */

.section1 {
	background-color: darkgray;
	background-image: url(../pictures/bamboo-boat-clouds-cloudscape-2132098.jpg);
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	min-height: 420px;
	padding: 0px;
	text-align: center;
}

.intro {
	background-color: #ffb6c1;
	color: gray;
	margin-bottom: 0px;
	padding: 10px 5px;
}

div.container4 {
	height: 1em;
	position: relative;
}

div.container4 p {
	background: yellow;
	display: unset;
	left: 50%;
	margin: 0;
	margin-right: -50%;
	padding: 5px 10px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.welcome {
	padding: 20px 20px;
}

.desth {
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
}

.tours {
	color: darkgray;
	margin-bottom: 30px;
	text-align: center;
}

.compact {
	margin: 0;
}

img.quote {
	border-color: gray;
	border-style: solid;
	float: right;
}

* {
	box-sizing: border-box;
}

div.box {
	float: left;
	margin-bottom: 20px;
	padding: 20px;
	width: 50%;
}

div.clearfix::after {
	clear: both;
	content: "";
	display: table;
	margin-bottom: 30px;
	padding: 20px;
}


/* Styling About.html */

.about_us {
	margin: 0px 40px 40px 40px;
	text-align: justify;
}

.contacts {
	margin-left: 20px;
	margin-right: 20px;
}

.contact_us {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	padding: 20px 10px 30px 10px;
}

div.center {
	text-align: center;
}


/* Styling 8d.html */

.tours1 {
	margin: 40px 20px
}

.section5 {
	background-image: url(../pictures/IMG-20190712-WA0006_a.jpg);
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	min-height: 380px;
	padding: 0px;
	text-align: center;
}


/* Styling 16d.html */

.section4 {
	background-image: url(../pictures/vietnam-2139871_1920_a.jpg);
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	min-height: 380px;
	padding: 0px;
	text-align: center;
}


/*  Styling Info.html */

.info_left {
	border: 3px solid #ddd;
	border-radius: 4px;
	margin-right: 10px;
	width: 220px;
}

.info_right {
	border: 2px solid #ddd;
	border-radius: 4px;
	margin-left: 10px;
	width: 220px;
}

.section2 {
	background-image: url(../pictures/chaly-pavement-road-2044867.jpg);
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	min-height: 180px;
	padding: 0px;
	text-align: center;
}

img.map_right {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 20px 10px;
	width: 220px;
}

.dest {
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	text-align: justify;
}


/* Custom color Font Awesome */

.pink {
	color: #ffaeb9;
}


/* Styling Footer  */

.wrapper {
	margin-bottom: -50px;
	min-height: 100%;
}

.push {
	height: 50px;
}

footer.site {
	background-color: #212529;
	background-size: cover;
	color: #ffb6c1;
	display: -webkit-box;
	flex-shrink: 0;
	height: 140px;
	margin-bottom: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}

.bottom {
	margin-bottom: 0;
}

div.footer-details.row {
	width: 100%;
}


/* media queries */

@media (max-width:767px) {
	body {
		font-size: small;
	}
	p {
		font-size: small;
	}
	.welcome {
		padding: 5px 5px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: small;
	}
	em {
		font-size: small;
	}
	img.map_right {
		margin-left: 5px;
		width: 130px;
	}
	.info_left {
		width: 120px;
	}
	.info_right {
		width: 120px;
	}
	.dest {
		margin-left: 10px;
		margin-right: 10px;
		padding: 5px;
	}
	.section1 {
		min-height: 180px;
	}
	.section5 {
		min-height: 180px;
	}
	.section4 {
		min-height: 180px;
	}
	.intro {
		margin-bottom: 15px;
	}
	.btn-group-lg>.btn,
	.btn-lg {
		font-size: 0.7rem;
	}
	.gallery__items--3 {
		display: none;
	}
	.gallery__itemy--3 {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section2 {
		min-height: 340px;
	}
}

@media (min-width: 992px) and (max-width: 2800px) {
	.section2 {
		min-height: 480px;
	}
}